@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');



*{
    scroll-behavior: smooth;
    }
    
    body {
      font-family: 'Oswald', sans-serif;
      font-size: 18px;
      line-height: 30px;
      padding: 10px;
      position: absolute;
      margin-left: 30%;
    }
    
    section{
      height: 100%;
      width: 100%;
      position: relative;
      top: 0; 
    }
    
    header {
      font-family: 'Oswald', sans-serif;
      font-weight: 700;
      font-size: 1.5rem;
      margin: 5%;
    }
    
    p{
      margin-left: 8%;
    }
    
    
    
    a{
      margin: 10%;
    }
    
    #navbar{
      height: 100%;
      width: 30%;
      border-right: 3px solid #a3a0a0;
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
    
    nav  ul{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: space-evenly;
      height: 100%;
      padding: 0;
      
    }
    
    nav > ul > li{
      border-top: 2px solid #8f8f8f;
      height: 8%;
      margin: 10px;
      width: 100%;
     
    }
    
    li > a {
      text-decoration: wavy;
      color: black; 
    }
    
    @media only screen and (max-width: 620px) {
      body{
        position: absolute;
        margin: 0;
      }
    
      section{
        top: 8;
        
      }
    
      #navbar{
        position: relative;
        top: 0;
        border-right: none;
        height: 50%;
        width: auto;
        margin: 0;
        padding: 0;
        border: 2px double #a3a0a0;
        text-align: center;
      }
    
      nav > ul > li{
      border-top: none;
      margin: 0;
      top: 0;
      }
    
      nav ul li :hover{
        background-color: black;
        color: #a3a0a0;
      }
    
      nav header{
        margin-bottom: 0;
        border-bottom: 2px dotted #a3a0a0;
      }
    
      nav ul{
        font-size: 16px;
         border-top: none;
      }
    }
    
    
    .main-section .box {
  position: relative;
  width: 250px;
  height: 250px;
  background: gray;
  transition: 0.5s;
  transform-style: preserve-3d;
  overflow: hidden;
  margin-left: 30px;
  margin-top: 45px;
}
.main-section:hover .box {
  transform: rotateY(25deg);
}
.main-section.box:hover ~ .box {
  transform: rotateY(-25deg);
}
.main-section .box:hover {
  transform: rotateY(0deg) scale(1.25);
  z-index: 1;
  box-shadow: 0 25px 40px rgba(0,0,0,0.5);
}
.main-section .box .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.main-section .box .imgBx:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg,grey,#000);
  z-index: 1;
  opacity: 0;
  transition: 0.5s;
  mix-blend-mode: multiply;
}
.main-section .box:hover .imgBx:before {
  opacity: 1;
}
.main-section .box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

